.box1 {
  width: 300px;
  height: 300px;
  background-color: rgb(255, 0, 221);
  margin: 30px;
  padding: 30px;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  border: 5px solid yellow;
}