* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

a {
  text-decoration: none;
}

header {
  width: 90%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}

header .heading {
  font-size: 32px;
}

.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.main-visual {
  width: 100%;
  height: 300px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: center;
}

.main-visual-content {
  width: 40%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 105px;
}

.main-visual-text {
  color: #fff;
}

.main-visual-name {
  margin-top: 30px;
  color: #fff;
}

.main {
  width: 800px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 70px 0;
}

.blog {
  width: 540px;
  margin-right: 30px;
}

.blog-heading {
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
  line-height: 0.6;
}

.blog-box {
  padding-top: 50px;
}

.blog-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f7f7f7;
  display: flex;
  justify-content: flex-start;
}

.blog-image {
  height: 180px;
}

.blog-text {
  padding: 25px 0 0 30px;
}

.blog-text-heading {
  padding-bottom: 15px;
}

.blog-date {
  font-size: 12px;
  display: inline-block;
}

.category {
  display: inline-block;
  padding: 5px 8px;
  background-color: #acabab;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
}

.sidebar {
  width: 230px;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}

.footer-text {
  color: #fff;
}
