* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

h1 {
  color: #353232;
  padding: 20px;
}

main {
  width: 840px;
  margin: 50px auto;
}

.main1 {
  padding: 30px;
  border-bottom: 1px solid #f7f7f7;
}
.main2 {
  padding: 30px;
  border-bottom: 1px solid #f7f7f7;
}
.main3 {
  padding: 30px;
  border-bottom: 1px solid #f7f7f7;
}
.main4 {
  padding: 30px;
  border-bottom: 1px solid #f7f7f7;
}
