* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headline {
  margin: 20px auto;
  text-align: center;
}

.list {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 15px auto;
  margin: 0 auto;
  text-align: center;
}

.list-item {
  list-style: none;
  margin: 0 20px;
  display: inline-block;
}

main {
  width: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.box1 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}
.box2 {
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}
.box3 {
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}
.box4 {
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}
.box5 {
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}
.box6 {
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}
.box7 {
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}
.box8 {
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}
.box9 {
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}
.box10 {
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}
.box11 {
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}
.box12 {
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}

footer {
  height: 120px;
  background-color: gray;
  color: #fff;
  text-align: center;
  line-height: 120px;
}
